.title{
     font-size:1.1rem;
     display: block;
     margin-left: 200px;
     margin-right: 200px;
     margin-top: 30px;
     
}
.titlePost{
     cursor: pointer;
     color: #000
}
.titlePost:hover{
     color: #5488c7;
     text-decoration: none;
}